th, td      { vertical-align: top; text-align: left; font-size:large; }     /* Don't center table cells  */
#converted  { color: green; font-weight: bold; font-size:10px;          }     /* Calculated values in bold */
input       { 
              text-align: left;       /* Align input to the left */
              border: solid brown; 
              border-radius: 50px 50px 20px 20px;
              padding: 15px  15px;
              font-size:large;       }
body
{
 background-color:yellow;  
 font-size:large;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: 80px;
font-size:20px;    
font-family:Tahoma;
    background: red;
    padding: 100px 300px;
    color: black;
    display:inline-block;
    border-radius: 30px 30px 30px 30px;
}
